.dashboard {
  color: #ffffff;
  .title {
    font-weight: 800;
    font-size: 3.125rem;
  }
  .content {
    font-weight: 700;
    font-size: 7.5rem;
  }
  .note-text {
    font-weight: 600;
    font-size: 2.5rem;
  }
  .in-progress-btn{
    display: flex;
    justify-content: flex-end;
    button{
        background-color: #55ACEE;
        border-radius: 400px;
        padding: 0 15px;
        text-transform: uppercase;
    }
  }
  .vektora{
    display: flex;
    align-items: center;
    gap: 1em;
    .info{
        font-weight: 700;
        font-size: 2.6557rem;
    }
  }
}
