
.carrier {
  width: 780px ;
  color: black;
  background-color: white;
  border-radius: 0 12px 12px 0;
}
.ant-drawer-content-wrapper .widths {
  width: 500px ;
  border-radius: 0 12px 12px 0;
}

.ant-drawer .ant-drawer-header {
  border-bottom: 1px solid #d0d5dd;
}
.ant-input{
  width: 91%;
}