.ant-drawer-content-wrapper .addcarrier_block {
    width: 850px  ;
    border-radius: 0 12px 12px 0;}

.grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        background-color: #2196F3;
        padding: 10px;
      }
  .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 1.875rem;
        text-align: center;
  }   
  .width1{
    width: 120px;
    height: 120px;
    border:1px solid #D0D5DD;
    border-radius: 12px;
    margin: 2px; 
     
  }
  .center{
    align-items: center;
  }

  .minismall{
    font-size: 0.75rem;
  }
  .ant-layout-footer .footer1{
    margin-top: 1px solid #D0D5DD;
    background-color:#FFFFFF !important;

  }
  .background{
    background-color:#F9FAFB ;
  }
  .border-line{
    border:1px solid #D0D5DD;
  }
  .position{
    position: relative;
    padding-left: 20px;
    left: 400px;

  } 
  
  .customer {
    width: 805px !important;
    color: black;
    background-color: white;
    border-radius: 0 12px 12px 0;
  }
  
  .ant-drawer .ant-drawer-header {
    border-bottom: 1px solid #d0d5dd;
  }
  