

.ant-drawer-content-wrapper .addcarrier_block {
    width: 800px  ;
    border-radius: 0 12px 12px 0;
    overflow: hidden !important;
    scroll-behavior:unset;

    .ant-checkbox-wrapper{
      flex-direction: column;
      .ant-checkbox{
        align-self: flex-end;
        left: -20px;
        top: 30px;  
        z-index: 3;     

        input{
          border-radius: 50%;
        }
        .ant-checkbox-inner{
          border-radius: 50% !important;
        }
        
      }
      
    }
    .ant-checkbox-wrapper:hover {
      .ant-checkbox-inner {
      border-radius: 50% !important;


      }
      .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #05987B;
        border: #05987B;

      }
    }
    .ant-checkbox-checked:after{
      border-radius: 50% !important;
      border: #05987B;



    }
  }
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #05987B;
    border: #05987B;
  }
  
  .ant-checkbox-checked:hover .ant-checkbox-inner{
    background-color: #05987B;

  }
  .ant-checkbox .ant-checkbox-checked:hover{
    background-color: #05987B;

  }

  .ant-checkbox-wrapper:hover .ant-checkbox-inner{
    border-color: #05987B !important;

  }
  .carrier-menubar{
    overflow-y: hidden;
    scroll-behavior: unset;
  }

.grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        background-color: #2196F3;
        padding: 10px;
      }
  .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 1.875rem;
        text-align: center;
  }   
  .width1{
    width: 120px;
    height: 120px;
    border:1px solid #D0D5DD;
    border-radius: 12px;
    margin: 2px; 
     
  }
  .center{
    align-items: center;
  }

  .minismall{
    font-size: 1rem;
    color: #344054;
  }
  .ant-layout-footer .footer1{
    margin-top: 1px solid #D0D5DD;
    background-color:#FFFFFF !important;

  }
  .background{
    background-color:#F9FAFB ;
  }
  .border-line{
    border:1px solid #D0D5DD;
  }
  .position{
    position: relative;
    padding-left: 20px;
    left: 400px;

  } 
.menu-items{
  .carrier {
    border-radius: 0 12px 12px 0;
      .ant-drawer-body{
        padding: 0 ;
      }
    .ant-menu-item-selected{
      background-color: #05987B !important;
      color:#fff;
    }    
  }
}
  
  
  .ant-drawer .ant-drawer-header {
    border-bottom: 1px solid #d0d5dd;
  }
  
  .card-item .ant-card-body{
    z-index: -1;    
  }

  .ant-checkbox+ span .ant-card{
      background-color: #ffff;
    }
  .ant-checkbox.ant-checkbox-checked + span .ant-card{
      background-color: #E6F6F3;
      border-color: #05987B;
    }

  .bg-light{
    background-color: #F2F4F7;
  }
  
  .request-btn{
    background: #E6F6F3;
    border: none;
    color:#05987B;    
  }
  .request-btn:hover{
    color:#05987B !important;


  }

  .no-item-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }