
.customer-setup {
 
  // @media  (max-width:300px){
    .custmer-card{
      // min-width: 300px;
    }
    
  // }
  
  .cards-container {
    .ant-card-body {
      padding: 1em !important;

      

      .selected-card {
        background: #f2f4f7;
        border-radius: 8px;
        border-left: #05a787;
        border-left-style: solid;
        border-width: 6px;
        padding: 10px;
        .inside-wrapper {
          background: #f2f4f7;
          padding: 10px;
          border-radius: 8px;
        }
      }
      .un-selected-card {
        padding: 10px;
        .inside-wrapper {
          background: #ffffff;
          padding: 10px;
          border-radius: 8px;
        }
      }

      .title-override {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        color: #1A1A1A;
      }
    }
  }
  .bg-light {
    background: #f9fafb;
  }
  .title {
    font-weight: 600;
    font-size: 0.88em;
  }
  // .content {
  //   // font-weight: 700;
  //   font-size: 0.825em;
  // }

  .text-normal {
    font-size: 0.875em;
  }
  .text-small {
    font-size: 0.75em;
  }

  .font-bold {
    font-weight: 600;
  }
  .font-normal {
    font-weight: 500;
  }
  .font-light {
    font-weight: 400;
  }
  .tabs-info{
    height: calc(100vh - 250px);
    // @extend .page-scroll !optional;
    overflow-x: hidden;
    
  }
}

// .customer-setup::-webkit-scrollbar {
//   display: none;
// }

.table {
  border-radius: 8px;

  .table-head {
    background: #f2f4f7;
  }
}

.ant-table-wrapper {
  table {
    border: 1px solid #eaecf0;
  }
  .ant-table-thead {
    tr {
      th:not(:last-child):not(.ant-table-selection-column):not(
          .ant-table-row-expand-icon-cell
        ):not([colspan])::before {
        width: 0;
        height: 0;
      }

      th {
        font-size: 0.75em;
        font-weight: 500;
        color: #667085;
        padding: 15px 10px;
      }
    }
  }
  .ant-table-tbody {
    tr {
      td {
        padding: 10px 10px;
        font-size: 0.875em;
        color: #667085;
      }
      td:first-child {
        color: #101828;
        font-weight: 500;
      }
    }
  }
}

.ant-progress {
  position: relative;
  .ant-progress-bg {
    background-color: #05a787;
    height: 2em !important;
  }
  .ant-progress-inner {
    border-radius: 10px;
  }
  .ant-progress-bg {
    border-radius: 10px 0 0 10px;
  }
  .ant-progress-text {
    position: absolute;
    color: #ffffff;
    left: 10px;
    top: 55%;
    font-weight: 800;
    font-size: 1.05em;
    transform: translateY(-50%);
  }
}

.ant-popover {
  width: 700px;
}

.headers{
  background-color: #1D2939 ;
}
