.container-maindiv{

    .ant-tabs-tab.ant-tabs-tab-active{
        border: none;
    }

    .ant-tabs-ink-bar {
        display: none;
    }
    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
        color: #05987b !important;
        font-weight: 500;
        background-color: #E6F6F3;
        padding: .75rem 1.45rem;
        border-radius: 8px;
      }
      .ant-tabs-tab-btn {
        padding: .75rem 1.45rem;

      }
}