.customer-setup {
  .ps__rail-x{
    display: none !important;

  }
  

  .cards-container {
    // background: transparent ;

    .ant-card-body {
      padding:0.85rem 0 0.15rem 0 !important;        
      .un-selected-card {
        border: 1px solid #b7b7b7 ;
        box-shadow: 1px 2px 8px 1px #d1cfcf;       
        padding: 15px;
        background-color: #f2f4f7;
        ;
        border-radius: 8px ;
        width: 100%;

        .inside-wrapper {
          // background: #f2f4f7;
          border-radius: 8px;
          // padding: 10px;
        }
      }
      .arrow-right{
        background-color: #fff;
      }
      .selected-card {
        background: #fff;
        border-radius: 8px;
        border-width: 6px;
        padding: 10px;
        border: 1px solid #b7b7b7 ;
        box-shadow: 1px 2px 8px 1px #d1cfcf;       
        border-left:5px solid #05a787;

        .inside-wrapper {
          background: #ffffff;
          border-radius: 8px;
        }
      }

      .title-override {
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        color: #1A1A1A;
      }
    }

    .customer-box-scroll{
      max-height: calc(69vh - 10px);
      padding-bottom: 16px;
    }
  }

  .custmer-card {
    .cards-container{
    background: #f2f4f7 ;
      .ant-card-body{
        padding-top:0 !important ;

      }
    }
  }
  .bg-light {
    background: #f9fafb;
  }
  .title {
    font-weight: 600;
    font-size: 1.25rem;
  }
  // .content {
  //   // font-weight: 700;
  //   font-size: 0.825em;
  // }

  .text-normal {
    font-size: 1rem;
  }
  .text-small {
    font-size: 0.75rem;
  }

  .font-bold {
    font-weight: 600;
  }
  .font-normal {
    font-weight: 500;
  }
  .font-light {
    font-weight: 400;
  }
  .tabs-info{
    // height: calc(100vh - 250px);
    // @extend .page-scroll !optional;
    overflow-x: hidden;
  
  }
  .api-set-tab{
    height: calc(100vh - 339px);

  }
  .api-test-tab{
    height: calc(100vh - 365px);

  }
  .status-code-tab{
    height: calc(100vh - 365px);
  }
}

// .customer-setup::-webkit-scrollbar {
//   display: none;
// }

.table {
  border-radius: 8px;

  .table-head {
    background: #f2f4f7;
  }
}

.ant-table-wrapper {
  table {
    border: 1px solid #eaecf0;
  }
  .ant-table-thead {
    tr {
      th:not(:last-child):not(.ant-table-selection-column):not(
        .ant-table-row-expand-icon-cell
      ):not([colspan])::before {
      width: 0;
      height: 0;
      }

      th {
        font-size: 0.825rem;
        font-weight: 500;
        color: #667085;
        padding: 15px 10px;
      }
    }
  }
  .ant-table-tbody {
    tr {
      td {
        padding: 10px 10px;
        font-size: 0.875rem;
        color: #667085;
      }
      td:first-child {
        color: #101828;
        font-weight: 500;
      }
    }
  }
}

.ant-progress {
  position: relative;
  .ant-progress-bg {
    background-color: #05a787;
    height: 2em !important;
  }
  .ant-progress-inner {
    border-radius: 10px;
  }
  .ant-progress-bg {
    border-radius: 10px 0 0 10px;
  }
  .ant-progress-text {
    position: absolute;
    color: #ffffff;
    left: 10px;
    top: 55%;
    font-weight: 800;
    font-size: 1.05rem;
    transform: translateY(-50%);
  }
}

.ant-popover {
  width: 600px;

}


.headers{
  background-color: #1D2939 ;
}

.ps__rail-y{
  width: 5px !important;

}
.ps__thumb-y{
  right:0 !important;
  width: 5px ;
}
.ps {

  // .ps__rail-y{
    .ps__rail-y:hover, .ps__rail-y:focus{
    background-color: transparent !important; 
    .ps__thumb-y{
      
      width: 5px ;
    }
    
    }
  // }
  
}
.customer-welcome {
  // width: 275px;
  height: 28px;
  font-family: 'Poppins' !important;
  // font-style: normal;
  font-weight: 600;
  font-size: 1.75rem;
  // line-height: 32px;
  display: flex;
  align-items: center;
}

.wel-msg {
  width: 514px;
  height: 28px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 0.975rem;
  line-height: 1.5rem;
  color: #98A2B3;
}

.card-style {
  //  display: flex;
  //   flex-direction: column;
  //   align-items: flex-start;
  //   padding: 8px;
  //   width: 442.67px;
  margin-top: 19px;
  height: 122px;
  background: #FFFFFF !important;
  //   box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06) !important; 
  border-radius: 12px;

  .ant-card-body {
    padding: 0 !important;
  }

  
}
.show-btn{
  font-size: 1rem;
}

.span-card {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: flex-start;
  padding: .75rem;
  margin: 5px;
  background: #F2F4F7;
  height: 86px;
  border-radius: 12px;

  .ant-card-body {
    padding: 9px;
  }

}

.span-card-icon{
  padding: .5rem .75rem;
  background: #fff;
  text-align: center;
  margin-right: 0.5rem;
  border-radius: 0.5rem;
}

.span-card-title {
  // border-bottom: 1px solid #EAECF0;
  display: flex;
  font-family: 'Poppins' !important;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  // line-height: 24px;
  color: #1A1A1A;

}

.span-card-count {
  font-family: 'Poppins' !important;
  font-style: normal;
  font-weight: 600;
  font-size: 1.625rem;
  line-height: 32px;
}

.span-card-val {
  font-family: 'Poppins' !important;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 4px;
  color: #101828;
  margin-left: 5px;
}

.span-card-update {
  color: #1570EF;
  font-family: 'Poppins' !important;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  // line-height: 20px;
  // margin: 5px;
  padding: .5rem 1rem;
}

.card-body {
  display: flex;
  position: fixed;
  top: 250px;
  left: 8px;
  width: calc(100vw - 17px);
  // background-color: #1d2939;
  z-index: -1;
  height: 62% !important;
  border-radius: 12px;
  padding-top: 55px;

  .ant-card-body {
    padding: 0 !important;
  }
}

.card-header {
  font-family: 'Poppins' !important;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #475467;
  text-align: center;
  padding: 20px 0;
}

.carrier-btn {
  background: #05987B;
  border-radius: 8px;
  margin-left: 5px;
  border: #05987B;
  color:#FFFFFF
}

.downArrow {
  padding-right: 5px;
}

.vector2 {

  /* border: 2px solid #FFFFFF; */
  padding-right: 2px;
  left: -5%;
  position: relative;
  height: 11px;
}

.vector1 {
  width: 9%;
  top: -23%;
  right: 0%;
  position: relative;

}


.float-btn {
  float: right;
}

.container-maindiv{
  background-color: #FFFFFF;
  margin: 20px 0 0 0;

}

table {

  th {

    padding: 8px 24px;
    background: #F9FAFB;
    border-bottom: 1px solid #EAECF0;
    box-sizing: border-box;
    color: #667085;
    text-align: left;
    // position: sticky;
    // top: 0;
    font-size: 11px;
    // border-top:1px solid #EAECF0;
  }

  // thead>tr>:nth-child(1){
  //   border-left:1px solid #EAECF0;
  //   }
  //   thead>tr>:nth-child(4){
  //    border-right:1px solid #EAECF0;
  //    }
  // tbody>tr>:nth-child(1){
  //  border-left:1px solid #EAECF0;
  //  }
  //  tbody>tr>:nth-child(4){
  //   border-right:1px solid #EAECF0;
  //   }

  td {
    color: #1A1A1A;
    align-items: center;
    padding: 14px 24px;
    background: #FFFFFF;
    // display: flex;
    gap: 0.5em;
    border: 0px solid !important;
    /* Gray/200 */

    border-bottom: 1px solid #EAECF0;

    .carrier-span {
      display: flex;
    }

    .carrier-div {
      position: relative;
      display: inline-grid;

    }

    .td-carrier {
      font-family: 'Poppins' !important;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
    }


    .td-img {
      width: 35px;
      height: 35px;
      margin-right: 5px
    }

    .td-code {
      color: #667085;
      font-size: 10px;
    }

    .debug-btn {
      background: #FFFFFF;
      margin-right: 5px;
    }

    .disconnect-btn {
      background: #ef2121;
      color: #FFFFFF;
    }

  }
}

table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  border: 1px solid #EAECF0;
  // table-layout: fixed;

}

.tableFixHead {
  overflow-y: auto;
  height: 325px;
  border-radius: 6px;
}

.ant-card.customer-items{
  background-color: transparent !important;

  .ant-card-body{
    background-color: transparent !important;
  }
}