.menu-wrapper {
  // width: 256px;
  .menu-items {
    height: 96vh;
    border-radius: 12px;
    padding-left: 15px;
    padding-top: 15px;
    color: #475467;
    li {
      padding-left: 0px !important;
    }
    li:first-child{
        padding-top: 5px;
        cursor: auto;
        display: inline;
    }
    li:first-child:hover{
      background-color: transparent !important;
    }
    // li:first-child.ant-menu-item-selected,
    // li:first-child:hover {
    //   background: none !important;
    // }
    .ant-menu-submenu{
       
        .ant-menu-submenu-title{
            padding-left: 12px !important;
        }
        .ant-menu-sub {
          height: calc(100vh - 300px);
          overflow-y: auto;
            background: none;
            padding-left: 12px !important;
            .ant-menu-title-content{
                padding-left: 12px;
            }
        }
    }
    .ant-menu-item-selected {
        background: #05987B;
        color: #ffffff;
    }
  }
}
.ant-menu{
  max-height: 510px;
    overflow: auto;

}
