.menu-wrapper {
  margin-top: -15px;
  margin-left: -5px;
  position: relative;

  .menu-items {
    height: 100vh;
    padding-left: 15px;
    padding-top: 15px;
    color: #fff !important;
    background-color: #1d2939;
    border-radius: 12px 0 0 0;



    // &.menu-items > li:first-child {
    //   width: 21%;
    //   padding-left: 0px !important;
    //   padding-top: 5px;
    //   &.ant-menu-item-selected {
    //     background: none;
    //     .ant-menu-title-content {
    //       background: none;
    //     }
    //   }
    // }

    .ant-menu-title-content {
      color: #fff !important;
    }
    // li {
    //   padding-left: 10px !important;
    // }
    // .ant-menu-title-content {
    //   display: inline-block;
    //   padding-left: 0px;
    //   width: 50px !important;
    //   // margin-top: 10px;
    // }
    // + li:first-child {
    //   padding-top: 5px;
    //   cursor: auto;
    //   display: inline;
    //   width: 50px;
    // }
    // + li:first-child:hover {
    //   background-color: transparent !important;
    // }
    // + li:first-child.ant-menu-item-selected,
    // + li:first-child:hover {
    //   background: none !important;
    // }
    .ant-menu-item:not(.ant-menu-item-selected):hover {
      background-color: transparent !important;
    }
    .ant-menu-light:not(.ant-menu-horizontal)
      .ant-menu-item:not(.ant-menu-item-selected):active {
      background-color: transparent !important;
    }

    .ant-menu-submenu {
      .ant-menu-submenu-title {
        padding-left: 12px !important;
        padding-right: 12px !important;
        .ant-menu-title-content {
          font-size: 1em;
        }
      }
      .ant-menu-sub {
        // height: calc(100vh - 300px);
        overflow-y: auto;
        background: none;
        padding-left: 12px !important;
        .ant-menu-title-content {
          font-size: 1em;
        }
        li{
          padding-left: 12px !important;
        }
      }
    }
    .ant-menu-item-selected {
      background: #05987b;
      color: #ffffff !important;
      align-items: center;
      .ant-menu-title-content {
        background: #05987b;
        color: #ffffff !important;
      }
    }
  }
}
.ant-menu {
  overflow: auto;
}
