.api-mapping {
  // overflow-x: hidden;
  // overflow-y: auto;
  // height: calc(100vh - 105px);
    .ant-card-body{
      padding: 1.5rem 0rem;
    }
  .text-large {
    font-size: 1.125rem;
  }
  .text-normal {
    font-size: 1rem;
  }
  .text-small {
    font-size: 0.825rem;
  }
  .text-20 {
    font-size: 1.25rem;
  }

  .font-bold {
    font-weight: 600;
  }
  .font-normal {
    font-weight: 500;
  }
  .font-light {
    font-weight: 400;
  }

  h6 {
    font-size: 1.1rem;
  }

  .selected-card {
    background: #f2f4f7;
    border-radius: 8px;

    padding: 10px;
    .inside-wrapper {
      background: #ffffff;
      padding: 10px;
      border-radius: 8px;
    }
  }

  .selected-card {
    .field-card-title {
      font-size: 1rem;
    }
  }
  .text-underline {
    text-decoration: underline;
  }

  .method-list {
    height: 100vh;
    .ant-card-body {
      padding: 1rem 1.5rem;
    }
  }
  
  .tabs-info {
    .ant-tabs-tab {
      // margin-left: 15px;
      padding-left: 0.25rem;
      padding-right: 0.25rem;
      .active {
        display: none;
      }
      .non-active {
        display: block;
      }
    }
    .ant-tabs-tab.ant-tabs-tab-active {
      .active {
        display: block;
      }
      .non-active {
        display: none;
      }
    }
    
  }
  .ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
    border-color: #05987b;
    background-color: #05987b;
  }
}
.map-request-model .ant-modal-content .ant-modal-footer,
.api-document-modal .ant-modal-content .ant-modal-footer {
  display: none !important;
}

// .api-mapping::-webkit-scrollbar {
//   display: none !important;
// }

.sub-tab {
  .ant-tabs-top .ant-tabs-nav::before {
    border: none;
  }
  .ant-tabs-ink-bar {
    display: none;
  }

  .ant-tabs-nav::before {
    bottom: none;
    border-bottom: none;
  }
  .ant-tabs-tab.ant-tabs-tab-active {
    background: #e6f6f3;
    padding: 10px 24px 10px 24px;
    border-radius: 8px;

    .ant-tabs-tab-btn {
      color: #035c4a !important;
    }
  }
}

.ant-drawer {
  .new-api-carrier {
    border-radius: 8px;
    // .ant-steps{
    //    .ant-steps-item-title{
    //     font-size: 1.125rem;
    //    }
    // }
    .ant-drawer-header-title {
      flex-direction: row-reverse;
    }
  }
}

.other-request-tabs{
  height: 30vh;
}

.method-list-container{
  height: 100vh;
}

.method-tabs{
  height: 385px;
}

