.header-container {
  .hamburge-menu {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1em;
    .app-title {
      font-size: 1.625rem;
      font-weight: 500;
    }
  }
  

  .logo-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    .logo-text {
      font-size: 1.75rem;
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  .profile-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1em;
    .name {
      font-weight: 600;
      font-size: 1.125rem;
    }
    .email {
      font-weight: 400;
      font-size: 1rem;
      color: #d0d5dd;
    }
  }
}

.dynamic-font-size-container {
  .text-container {
    button {
      color: #d0d5dd;
      &:hover,
      &:active,
      &:focus,
      &.active {
        color: #fff;
      }
      font-weight: 600;
      border: none;

    }
    div:nth-child(1) button {

      font-size: 0.813rem !important;
    }
    div:nth-child(2) button {

      font-size: 1rem !important;
    }
    div:nth-child(3) button {
      font-size: 1.188 !important;
    }
  }
  .line-container {
    min-width: auto;
    width: 90px;
    max-width: 120px;

    margin-top: 0px;
    margin-left: 16px;
    height: 1px;
    background-color: #d0d5dd;
    display: flex;
    justify-content: space-between;
    span {
      display: inline-block;
      height: 5px;
      width: 5px;
      background-color: #d0d5dd;
      border-radius: 5px;
      position: relative;
      &:nth-child(2) {
        margin-left: -3px;
      }
      top: -2px;
      &.active {
        background-color: #fff !important;
      }
    }
  }
}