body {
  padding: 0;
  margin: 0;
  background: #eaeaea;
  color: #ffffff;
}
* {
  font-family: "Poppins" !important;
}
.container-background {
  position: fixed;
  top: 15px;
  left: 15px;
  width: calc(100vw - 30px);
  height: 50%;
  background-color: #1d2939;
  z-index: 1;
  border-radius: 12px;
}

.main-container {
  position: relative;
  padding: 30px;
  z-index: 2;
  height: calc(100vh - 5px);
  overflow-y: hidden;
}
.menu-slider{
  top:30px;
  left: 20px;
  height: 95vh;
  background: #eaeaea !important; 
}